<html>
   <body>
      <table border = 1>
          <tr>
              <td><form action = "http://192.168.1.254/exhibitspanel/addnewexhibit" method = "POST">
                  Exhibit name: <br>
                  <input type="text" name="textbox_name"><br><br>

                  Exhibit LAN ip address:  <br>
                  <input type="text" name="textbox_ip"><br> <br>

                  Floor number:<br>
                  <input type="text" name="textbox_floor"><br><br>

                  Location (room):  <br>
                  <input type="text" name="textbox_room"><br> <br>

                  Exhibit type:  <br>
                  <input type="text" name="textbox_type"><br> <br>

                  Exhibit shutdown time (24h HHHH:MM):  <br>
                  <input type="text" name="textbox_shutdowntime"><br> <br>

                  Number of seconds to leave off during reset:<br>
                  <input type="text" name="textbox_downtimeonreset"><br> <br>

                  Automatically restart on fault (0 or 1):<br>
                  <input type="text" name="textbox_autoreset"><br> <br>

                  Ignore exhibit fault conditions (0 or 1):<br>
                  <input type="text" name="textbox_ignore"><br> <br>

              </td>     
          </tr>
          <tr>
            <td><br>
               &nbsp;<input type = "submit" name = "button_addexhibit" value = "Save/Add Exhibit" />
            </form>
            <form action = "http://192.168.1.254/exhibitspanel" method = "GET">       
                  &nbsp;<input type = "submit" name = "button_addcancel" value = "Cancel" />&nbsp;<br><br>
            </form></td>
          </tr>
      </table>
   </body>
</html>
